# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/446f9704-3812-478d-adff-5673dcf2fa6c/registry/
@tui:registry=https://registry.figma.com/npm/446f9704-3812-478d-adff-5673dcf2fa6c/registry/
# figma-managed npm registry config end
